<section class="list">
  <input
    class="form-control"
    type="text"
    [formControl]="queryName"
    placeholder="Search cart"
  />
  <div *ngIf="hasError" [ngClass]="{ 'not-results': hasError }">
    <span> No se encontraron resultados para la búsqueda </span>
  </div>
  <div
    class="cards"
    infiniteScroll
    [infiniteScrollDistance]="5"
    [infiniteScrollThrottle]="200"
    [infiniteScrollDisabled]="blockInfiniteScroll"
    (scrolled)="onHandlerScroll()"
  >
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
  </div>
</section>
